html{
  font-size: 100%;
}

p {
  color: #808080;
  font-family: 'PT Serif', Helvetica,serif;
  text-align: center;
  font-size: 1rem;
  line-height: 1.35rem;
}

h1{
  font-family: 'Coda Caption', Helvetica, sans-serif;
  text-align: center;
  font-size: 2.5rem;
}

body{
  background-color:#F5F5F5;
}

#container{
  width: 95%;
  background-color:#D8BFD8;
  margin: 20px auto;
  padding: 20px;
}

#image{
  border-style: none;
  margin: 5px auto;
  display: block;
  width: 50%;
}

#links{
  list-style-type: none;
  text-align: center;
}

.caption{
  color:black;
  font-family: 'PT Sans', Helvetica, sans-serif;
  font-size:0.8em;
  font-style:italic;
  margin-top:0;
  text-align:right;
}

#links li{
  float: left;
  list-style-type: none;
  margin:0;
  padding: 0;
  width: 25%;
}


a:link{
  color:#393939;
  background-color: #E6E6FA;
  text-decoration:none;
  font-family: 'PT Sans', sans-serif;
}

a:visited {
  color:#59465a;
  background-color: #E6E6FA;
  text-decoration:underline;
  font-family: 'PT Sans', sans-serif;
}

a:active{
  color: #394024;
  background-color: #E6E6FA;
  text-decoration: underline;
  font-family: 'PT Sans', sans-serif;
}

img{
  border-style: none;
  display: block;
  margin: auto;
  width:50%;
}

#footer {
    color: black;
    font-family: 'PT Serif', serif;
    font-size: 0.8em;
    border-top: 1px solid black;
